{#
/**
 * @file
 * Theme override to display a node.
 *
 * Available variables:
 * - node: The node entity with limited access to object properties and methods.
     Only "getter" methods (method names starting with "get", "has", or "is")
     and a few common methods such as "id" and "label" are available. Calling
     other methods (such as node.delete) will result in an exception.
 * - content_attributes: Same as attributes, except applied to the main
 *   content tag that appears in the template.
 *
 * @see template_preprocess_node()
 *
 * @todo Remove the id attribute (or make it a class), because if that gets
 *   rendered twice on a page this is invalid CSS for example: two lists
 *   in different view modes.
 */
#}
{%
  set classes = [
    'node',
    node.id ? 'node-id-' ~ node.id,
    'node--view-mode-referenced-entity',
  ]
%}

{{ attach_library('classy/node') }}
<article id ="{{ node.label|clean_id }}" {{ attributes.addClass(classes) }}>
  <div{{ content_attributes.addClass('node__content') }}>
    {{ content.field_agoc_day_of_the_week }} {{ content.field_agoc_start_time }} - {{ content.field_agoc_end_time }}
  </div>
</article>
