{#
/**
 * @file
 * Theme override to display a node.
 *
 */
#}
{%
  set classes = [
    'node',
    'node--type-' ~ node.bundle|clean_class,
    node.isPromoted() ? 'node--promoted',
    node.isSticky() ? 'node--sticky',
    not node.isPublished() ? 'node--unpublished',
    view_mode ? 'node--view-mode-' ~ view_mode|clean_class,
    node.id ? 'node-id-' ~ node.id,
  ]
%}
{{ attach_library('classy/node') }}
<article{{ attributes.addClass(classes) }}>
    {{ title_prefix }}
      <h3{{ title_attributes }}>
      <a href="{{ url }}" rel="bookmark">{{ label }}</a>
      </h3>
    {{ title_suffix }}
 <div class="date-time-info">
  {{content.field_agoc_press_release_date}}
 </div>
 <div class="press-release-summary">
 {{ content.body }}
 </div>
 {{ content|without('body', 'field_agoc_press_release_date') }}
  <div class="clearfix"></div>
</article>
